<br>
<br>
<h1 style="color: darkblue; font-size: 60px">Task Manager</h1>
<div class="container">
    <br>
    <br>
  <div>
    <button class="btn btn-primary btn-sm" (click)="addTask()">Add Task</button>
  </div>
  
  
  <div class="task" *ngFor="let task of tasklist; let i = index">
  
    <div>
      <span class="color">Item number: {{i +1}}</span>
  
      <span class="remove">
        <button class="btn btn-secondary btn-sm" (click)='removeTask(i)'> Delete/Complete</button>
      </span>
    </div>
    <br>
  
  
    <div>
      <label class="title"> Title:</label>
      <input class="test" [(ngModel)]="task.title" type="text">
    </div>
    <br>
    <div> 
      <label class="title"> Description:</label>
      <textarea rows = "3" cols = "60" [(ngModel)]="task.description" type="text"></textarea>
    </div>
    <br>
    <div>
        <label class="title"> Due Date:</label>
        <input class="test"  [(ngModel)]="task.date" type="date">
    </div>
    <br>
    <div>
        <label class="title"> Tag#:</label>
        <input class="test" [(ngModel)]="task.Tag" type="text">
    </div>
</div>

<div>
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Tag #</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasklist"> 
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.date }}</td>
        <td>{{ task.Tag}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-sm" (click)="sortTitle()">Sort Title</button>
  &nbsp;
  <button class="btn btn-primary btn-sm"(click)="sortDate()" >Sort Date</button>
</div>
<br>
<br>

